
iconify-icon {
  display: inline-block;
  vertical-align: -0.125em;
}

body {
  background-color: #F3F4F8;
  color: #101323;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
input {
  color: black !important;
}

input, .ql-editor {
  color: black;
}

a {
  text-decoration: none;
}

:where(a:visited) {
  color: inherit;
}