
body {
  background-color: $dark-theme;
  color: $color-text-primary;
  font-family: 'Quicksand', sans-serif; 
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

input, .ql-editor {
  color: black;
}

a {
  text-decoration: none;
}

a:visited {
  color: $color-text-primary;
}

.fa-solid{
  color: $color-primary
}