$font-family: 'Quicksand', sans-serif;

$color-text-primary: #FFFBFE;
$color-text-secondary: #FFFBFE;

$color-primary: #3138B0;
$color-primary-light: #4355b8;
$color-primary-lightest: #4988d6;

$color-gray: #646464;
$color-secondary:#2c3e50;
$color-gradient-dark: radial-gradient(circle, rgba(113, 115, 118, 0.1), rgba(87, 88, 90, 0.3), rgba(61, 61, 63, 0.6), #252526, #0d0d0d);
$color-error: #6B0504;
$color-error-light: #C81D25;

$border: 0.15em solid $color-secondary;
$border-radius: 0.3em;

$dark-theme: rgb(20, 20, 20);
$dark-theme-2: rgb(30, 30, 30);